[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "*"
google-auth = "*"
google-cloud-logging = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"
structlog = "*"

[dev-packages]

[requires]
python_version = "3.12"
